
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Raleway');


@media (min-width: 1000px){
  #content{
    margin-top: 160px !important;
  }
}
:root {
  --mainBrown: #231717;
  --mainGrey: #9A8C7F;
  --mainGreen: #9dad6f;
  --mainBiege: #efd09e;
  --mainTan: #d4aa7d;
  --mainYellow: #ddba6e;
}

body {
  font-family: 'Alegreya Sans SC'!important;
  background: var(--mainGrey) !important;
  color: var(--mainDark) !important;
  height:100%;
  margin: 0;
}

/*NAVBAR*/
.navbar {
  z-index:3;
}

.navbar p {
  color: var(--mainGreen);
  font-family: 'Alegreya Sans SC';
  font-size: 25px;
}

.navbar-brand{
  opacity: .9;
  height:80px;
  width:80px;
}

.nav-link {
  margin-top: 15px;
  align-content: center;
}
.nav-link:hover {
  margin-top: 15px;
  transform: scale(1.2);
  transition: .3s;
}

.logo h1{
  font-size: 30px;
  display: inline-block;
  color: var(--mainGreen);
  margin-top: 5px;
  margin-left: 0px;
  z-index: 3;
}

.logo {
  display: inline-block;
  min-width: 300px;
}

.container {
  color: var(--mainBrown);
  max-width: 1180px!important;
  font-family: 'Alegreya Sans SC'!important;
}
.container h1, h4, h2{
  text-align: center;
  font-family: 'Alegreya Sans SC';
}

.parallax p{
  text-align: right;
  margin-top: -200px;
  margin-right: 300px;
}

#parallax-container {
  display: block;
  height: 750px !important;
}
#parallax-container div {
  position: fixed;
  top: 0;
  background-position: center !important;
  transform: translateY(0px);
  height: 1000px;
  width: 100%;

}

#content {
  position: relative;
  margin-top: 220px;
  padding-top:50px;
  background-color:  #210002;
  color: var(--mainGreen);
  font-family: 'Alegreya Sans SC';
  min-height: 500px;
}

#content h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Alegreya Sans SC';
  color:var(--mainGrey);
}

#content p {
  font-size: 18px;
  font-family: 'Alegreya Sans SC';
  text-align: center;
}
.rellax{
  margin-top:200px;
  margin-bottom: 200px;
}
